@use './partials/mixins' as *;
@use './partials/variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

ul {
    list-style-type: none;
}

.up-header {
    background-color: white;
}

.up-header-container {
    justify-content: space-between;
    align-items: center;
    padding: 1.1rem 0;
}

.up-header-container img {
    height: 2.4rem;
    margin-left: 3rem;
}

.ul-header {
    margin-right: 4.5rem;
    align-items: center;
}

.ul-header li {
    margin-left: 3.5rem;
    text-transform: uppercase;
    font-size: 0.7rem;
    color: rgb(156, 156, 156);
    font-family: sans-serif;
    font-weight: bolder;
}

.ul-header li:nth-child(6) {
    width: 6rem;
    background-color: rgb(90, 221, 205);
    display: flex;
    justify-content: center;
    height: 2rem;
    align-items: center;
    color: white;
    border-radius: 1rem;
}

.jumbo-container {
    background-image: url(../assets/imgs/home_finance_slider_bg.jpg);
    height: 43rem;
    background-size: 98rem;
    justify-content: center;
    background-position: 0 43rem;
    align-items: center;
    color: white;
    font-size: 3.4rem;
    font-weight: lighter;
}

.bottom-header-container {
    background-color: rgb(249, 249, 249);
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1.2rem 0;
}

.bottom-header-container img {
    height: 5rem;
}

.cloud-container {
    flex-direction: row;
    background-color: rgb(255, 255, 255);
}

.cloud-container div:first-child {
    width: 55%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 8.5rem 0;
}

.cloud-container div:first-child > * {
    margin-left: 9rem;
    margin-right: 3rem;
    margin-bottom: 1.8rem;
}

.cloud-container div:first-child h2 {
    font-size: 2.3rem;
    font-weight: lighter;
}

.cloud-container div:first-child p {
    color: rgb(119, 119, 119);
    font-family: sans-serif;
    font-size: 0.85rem;
}

.cloud-container div:first-child span:last-child {
    width: 7rem;
    background-color: rgb(90, 221, 205);
    display: flex;
    justify-content: center;
    height: 2rem;
    align-items: center;
    color: rgb(232, 251, 248);
    border-radius: 1rem;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-family: sans-serif;
    font-weight: bolder;
}

.bar {
    height: 0.1rem;
    width: 5rem;
    background-color: rgb(26, 54, 95);
}

.cloud-container div:last-child {
    width: 50%;
}

.cloud-container div:last-child img {
    width: 75%;
    margin-top: 4.5rem;
}

.speciality-services-container {
    background-color: rgb(249, 249, 249);
    padding-top: 6rem;
    padding-bottom: 5rem;
}

.speciality-services-container div:first-child {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.speciality-services-container div:first-child h2 {
    font-size: 2.3rem;
    font-weight: lighter;
    margin-bottom: 1.5rem;
}

.speciality-services-container div:first-child p {
    color: rgb(119, 119, 119);
    font-family: sans-serif;
    font-size: 0.85rem;
    margin-top: 1.5rem;
}

.speciality-services-container div:last-child {
    justify-content: center;
    margin-top: 2.5rem;
}

.speciality-services-container div:last-child p {
    margin-top: 0.6rem;
}

.business-loans-container,
.credit-rating-advice-container,
.fast-crowd-funding-container {
    flex-direction: column;
    background-color: white;
    width: 18rem;
    margin: 0.5rem;
}

.business-loans-container i,
.credit-rating-advice-container i,
.fast-crowd-funding-container i {
    font-size: 3.2rem;
    margin-top: 2rem;
    margin-bottom: 0.6rem;
}

.business-loans-container h3,
.credit-rating-advice-container h3,
.fast-crowd-funding-container h3 {
    font-weight: lighter;
}

.business-loans-container p,
.credit-rating-advice-container p,
.fast-crowd-funding-container p {
    margin-bottom: 2.5rem;
    line-height: 1.5rem;
    padding: 0 1.5rem;
}

.business-loans-container span,
.credit-rating-advice-container span,
.fast-crowd-funding-container span {
    background-color: rgb(90, 221, 205);
    font-family: sans-serif;
    color: rgb(220, 248, 244);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    height: 1.9rem;
}


