@use './partials/mixins' as *;
@use './partials/variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

ul {
    list-style-type: none;
}

.up-header {
    background-color: $main-colour-1;
}

.up-header-container {
    justify-content: space-between;
    align-items: center;
    padding: 1.1rem 0;
}

.up-header-container img {
    height: 2.4rem;
    margin-left: 3rem;
}

.ul-header {
    margin-right: 4.5rem;
    align-items: center;
}

.ul-header li {
    margin-left: 3.5rem;
    text-transform: uppercase;
    font-size: 0.7rem;
    color: rgb(156, 156, 156);
    font-family: sans-serif;
    font-weight: bolder;
}

.ul-header li:hover {
    color: rgb(36, 63, 102);
}

.ul-header li:nth-child(6) {
    width: 6rem;
    background-color: $button-colour;
    display: flex;
    justify-content: center;
    height: 2rem;
    align-items: center;
    color: $button-text-colour;
    border-radius: 1rem;
}

.jumbo-container {
    background-image: url(../assets/imgs/home_finance_slider_bg.jpg);
    height: 43rem;
    background-size: 98rem;
    justify-content: center;
    background-position: 0 43rem;
    align-items: center;
    color: white;
    font-size: 3.4rem;
    font-weight: lighter;
}

.bottom-header-container {
    background-color: $main-colour-2;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1.2rem 0;
}

.bottom-header-container img {
    height: 5rem;
}

.cloud-container {
    flex-direction: row;
    background-color: $main-colour-1;
}

.cloud-container div:first-child {
    width: 55%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 8.5rem 0;
}

.cloud-container div:first-child > * {
    margin-left: 9rem;
    margin-right: 3rem;
    margin-bottom: 1.8rem;
}

.cloud-container div:first-child h2 {
    font-size: 2.3rem;
    font-weight: lighter;
    color: $main-title-colour;
}

.cloud-container div:first-child p {
    color: rgb(119, 119, 119);
    font-family: sans-serif;
    font-size: 0.85rem;
    line-height: 1.3rem;
}

.cloud-container div:first-child span:last-child {
    width: 7rem;
    background-color: $button-colour;
    display: flex;
    justify-content: center;
    height: 2rem;
    align-items: center;
    color: $button-text-colour;
    border-radius: 1rem;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-family: sans-serif;
    font-weight: bolder;
}

.bar {
    height: 0.1rem;
    width: 5rem;
    background-color: rgb(26, 54, 95);
}

.cloud-container div:last-child {
    width: 50%;
}

.cloud-container div:last-child img {
    width: 75%;
    margin-top: 4.5rem;
}

.speciality-services-container {
    background-color: $main-colour-2;
    padding: 5rem 0;
}

.speciality-services-container div:first-child {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.speciality-services-container div:first-child h2 {
    font-size: 2.3rem;
    font-weight: lighter;
    margin-bottom: 1.5rem;
    color: $main-title-colour;
}

.speciality-services-container div:first-child p {
    color: rgb(119, 119, 119);
    font-family: sans-serif;
    font-size: 0.85rem;
    margin-top: 1.5rem;
    line-height: 1.3rem;
}

.speciality-services-container div:last-child {
    justify-content: center;
    margin-top: 2.5rem;
}

.speciality-services-container div:last-child p {
    margin-top: 0.6rem;
}

.business-loans-container,
.credit-rating-advice-container,
.fast-crowd-funding-container {
    flex-direction: column;
    background-color: white;
    width: 18rem;
    margin: 0.7rem;
}

.business-loans-container i,
.credit-rating-advice-container i,
.fast-crowd-funding-container i {
    font-size: 3.2rem;
    margin-top: 2rem;
    margin-bottom: 0.6rem;
}

.business-loans-container h3,
.credit-rating-advice-container h3,
.fast-crowd-funding-container h3 {
    font-weight: lighter;
}

.business-loans-container p,
.credit-rating-advice-container p,
.fast-crowd-funding-container p {
    margin-bottom: 2.5rem;
    line-height: 1.5rem;
    padding: 0 1.5rem;
}

.business-loans-container span,
.credit-rating-advice-container span,
.fast-crowd-funding-container span {
    background-color: $button-colour;
    font-family: sans-serif;
    color: $button-text-colour;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    height: 1.9rem;
}

.investment-numbers-container > div:first-child {
    background-image: url(../assets/imgs/counters-bg-image.jpg);
    background-size: 160%;
    height: 30rem;
    width: 32%;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: 0 4rem;
}

.investment-numbers-container > div:first-child span:first-child {
    font-family: sans-serif;
    font-size: 0.8rem;
}

.investment-numbers-container > div:first-child h2 {
    font-weight: lighter;
    font-size: 2.3rem;
    padding: 1.8rem 0;
}

.investment-numbers-container > div:first-child span:last-child {
    width: 7rem;
    background-color: $button-colour;
    display: flex;
    justify-content: center;
    height: 2rem;
    align-items: center;
    color: $button-text-colour;
    border-radius: 1rem;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-family: sans-serif;
    font-weight: bolder;
}

.investment-numbers-container > div:nth-child(2) {
    background-color: rgb(255, 255, 255);
    width: 68%;
    height: 30rem;
    flex-wrap: wrap;
}

.investment-numbers-container > div:nth-child(2) div {
    width: calc(100% / 2);
    flex-direction: column;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.investment-numbers-container > div:nth-child(2) div span {
    color: rgb(74, 117, 178);
    font-size: 3.5rem;
}

.investment-numbers-container > div:nth-child(2) div p {
    color: rgb(124, 124, 124);
    font-size: 0.8rem;
}

.investment-numbers-container > div:nth-child(2) div:nth-child(1) {
    justify-content: end;
    align-items: center;
    padding-bottom: 2rem;
    padding-left: 10rem;
}

.investment-numbers-container > div:nth-child(2) div:nth-child(2) {
    justify-content: end;
    align-items: center;
    padding-bottom: 2rem;
    padding-right: 10rem;
}

.investment-numbers-container > div:nth-child(2) div:nth-child(3) {
    align-items: center;
    padding-top: 2rem;
    padding-left: 10rem;
}

.investment-numbers-container > div:nth-child(2) div:nth-child(4) {
    align-items: center;
    padding-top: 2rem;
    padding-right: 10rem;
}
    
.client-feedback-container > div:first-child {
    background-color: rgb(249, 249, 249);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5.5rem 0;
}

.client-feedback-container > div:first-child h2 {
    font-size: 2.3rem;
    font-weight: lighter;
    margin-bottom: 1.5rem;
    color: $main-title-colour;
}

.client-feedback-container > div:nth-child(2) {
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
}

.client-feedback-container > div:nth-child(2) div {
    width: calc(100% / 4);
    border: 1px solid rgb(244, 244, 244);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3.5rem 0;
}

.client-feedback-container > div:nth-child(2) div img {
    height: 6rem;
    margin-bottom: 1rem;
}

.client-feedback-container > div.flex > div:nth-child(2) img {
    filter: invert(100%);
}

.client-feedback-container > div:nth-child(2) div p {
    color: rgb(156, 164, 174);
    font-size: 1.2rem;
    margin: 0 2.5rem;
}

.client-feedback-container > div.flex > div:nth-last-child(-n+4) {
    text-transform: uppercase;
}

.client-feedback-container > div.flex > div:nth-last-child(-n+4) {
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bolder;
    padding: 1.5rem 0;
}

.client-feedback-container > div.flex > div:nth-child(n+5):nth-child(-n+8) span:first-child {
    color: black;
    font-size: 0.75rem;
    margin-bottom: 0.4rem;
}

.client-feedback-container > div.flex > div:nth-child(n+5):nth-child(-n+8) span:last-child {
    color: rgb(149, 149, 149);
    font-size: 0.65rem;
}

.ready-to-talk-container {
    background-image: url(../assets/imgs/ready_to_talk_cta_bg.jpg);
    background-position: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5.5rem 30rem;
    text-align: center;
}

.ready-to-talk-container h2 {
    font-size: 3.2rem;
    font-weight: lighter;
    color: white;
    margin-bottom: 2.5rem;
}

.ready-to-talk-container p {
    color: rgb(164, 171, 178);
    font-size: 1.1rem;
}

.ready-to-talk-container span {
    width: 7rem;
    background-color: $button-colour;
    display: flex;
    justify-content: center;
    height: 2rem;
    align-items: center;
    color: $button-text-colour;
    border-radius: 1rem;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-family: sans-serif;
    font-weight: bolder;
    margin-top: 2.5rem;
}

.up-footer {
    background-color: rgb(26, 27, 33);
}

.up-footer div {
    width: calc(100% / 4);
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 2.5rem 0;
}

.up-footer div * {
    padding: 0.7rem 0;
}

.up-footer div img {
    height: 7.5rem;
    margin-left: 4rem;
}

.up-footer div span {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
}

.up-footer div li {
    color: rgb(124, 124, 123);
    font-family: sans-serif;
    font-size: 0.8rem;
}

.up-footer .flex:nth-child(3) li {
    text-transform: uppercase;
}

.up-footer div i {
    font-size: 1.5rem;
}

.bottom-footer {
    background-color: rgb(18, 19, 22);
    color: rgb(101, 101, 102);
    font-family: sans-serif;
    font-size: 0.65rem;
    align-items: center;
    justify-content: space-between;
    padding: 1.8rem 3rem;
}

.bottom-footer i {
    margin: 0 0.2rem;
    background-color: $button-colour;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    line-height: 2rem;
    font-size: 0.7rem;
}

.bottom-footer i:last-child {
    background-color: rgb(48, 48, 48);
    height: 1.5rem;
    width: 2.2rem;
    border-radius: 20% 20% 0 0;
    position: absolute;
    top: 247.9rem;
    right: 3.3rem;
    line-height: 1.5rem;
}